<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AdminSettingsPath" value="MolinaHealthCareApplicationPOM\Data\DesktopPortals\Admin\Settings\AdminConfig.xml"/>
    <add key="ProviderSettingsPath" value="MolinaHealthCareApplicationPOM\Data\DesktopPortals\Provider\Settings\ProviderConfig.xml"/>
    <add key="PODSettingsPath" value="MolinaHealthCareApplicationPOM\Data\DesktopPortals\POD\Settings\PODConfig.xml"/>
    <add key="MemberSettingsPath" value="MolinaHealthCareApplicationPOM\Data\DesktopPortals\Member\Settings\ProviderConfig.xml"/>
    <add key="QNxtSettingsPath" value="MolinaHealthCareApplicationPOM\Data\QNxt\Settings\QNxt.xml"/>
    <add key="Browser" value="Chrome"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
</configuration>
 <!--<configSections>    
   <section name ="TestConfiguration" type ="AutomationFramework.Common.TestConfiguration, AutomationFramework"/>
 </configSections> 
 <TestConfiguration>
  <ConfigSettings>
    <TestSettings name ="Admin" path="MolinaHealthCareApplicationPOM\\Data\\DesktopPortals\\Admin\\Settings\\AdminConfig.xml" browser="Chrome" testType="SmokeTest"/>
    <TestSettings name ="Member" path="MolinaHealthCareApplicationPOM\\Data\\DesktopPortals\\Member\\Settings\\MemberConfig.xml" browser="Chrome" testType="SmokeTest"/>
    <TestSettings name ="POD" path="MolinaHealthCareApplicationPOM\\Data\\DesktopPortals\\POD\\Settings\\PODConfig.xml" browser="Chrome" testType="SmokeTest"/>
    <TestSettings name ="Provider" path="MolinaHealthCareApplicationPOM\\Data\\DesktopPortals\\Provider\\Settings\\ProviderConfig.xml" browser="Chrome" testType="SmokeTest"/>
  </ConfigSettings>
 </TestConfiguration>-->

